@media  screen and (min-width: 768px){
	body{
		margin: 0;
		padding: 0;
		user-select: none;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	.background{
		height: 100%
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	video {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	}

		.goldbutton{
			padding: 6px 15px;
			font-size: 25px;
			font-family: sans-serif;
			color: #f5f5f5;
			background: linear-gradient(45deg,#8f5d00,#ffc65c);
			border: none;
			border-radius: 4px;
			outline: none;
			transition: filter 0.2s;
		}

		.goldbutton:hover{
			cursor: pointer;
			filter: brightness(1.2);
		}

		img{
			max-width: 100%;
		}

	main{
		width: 100%;
		background-color: #121212;
		position: absolute;
		top: 80%;
	}

	.section1{
		height: auto;
		width: 100%;
		padding: 20px 0;
		display: inline-flex;
		/*background-color: orange;*/
		position: relative;
	}

		.section1 img{
			margin: auto;
			padding: 0 50px;
			min-width: 300px;
			max-width: 400px;
			width: 30vw;
		}

		.section1 h1{
			margin: auto;
			max-width: 50vw;
			padding: 50px 50px;
			font-size: 20px;
			font-family: sans-serif;
			color: #c1c1c1;
		}

	.section2{
		padding: 30px 0;
		height: auto;
		width: 100%;
		/*background-color: blue;*/
		position: relative;
		top: 0;
	}

		.section2 h2{
			margin: 0;
			padding: 10px 5vw;
			text-align: left;
			font-size: 30px;
			font-family: sans-serif;
			color: #c1c1c1;
			position: relative;
		}

		.section2 .c_table{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			 /*background-color: purple;*/
			position: relative;
		}

			.section2 caption{
				margin-bottom: 15px;
				font-size: 30px;
				font-family: "calibri", sans-serif;
				color: #c1c1c1;
			}

			.section2 table{
				margin: 30px 0;
				min-width: 400px;
				max-width: 1000px;
				width: auto;
				border-collapse: collapse;
				font-size: 18px;
				font-family: "calibri", sans-serif;
				color: #c1c1c1;
				border: 2px solid #ffc65c;
				z-index: 10;
			}

			.section2 thead tr{
				text-align: center;
				font-size: 25px;
				color: #ffc65c;
				background-color: #121212;

			}

			thead td{
				transition: background 0.2s,color 0.2s;
			}

			thead td:hover{
				cursor: pointer;
			}

				.b1{
					color: #121212;
					background-color: #ffc65c;
				}

			.section2 .t_in{
				font-size: 20px;
				background-color: #363636;
			}

			.section2 td{
				padding: 25px 30px;
			}

			.section2 tbody tr{
				background-color: #242424;
			}

				.avantage2{
					color: #484848;
				}
				.avantage3{
					color: #484848;
				}
				.avantage4{
					color: #484848;
				}

			.section2 tfoot tr{
				text-align: center;
				font-size: 30px;
				color: #121212;
				background-color: #ffc65c;
			}

			.olivier{
				min-width: 400px;
				max-width: 600px;
				width: 30vw;
		    position: absolute;
		    top: 25%;
				right: 0;
				z-index: 9;
			}

			.section2 button{
				margin: 30px 0 200px 0;
			}

	.section3{
		height: 100vh;
		width: 100%;
		background-image: url(img/fond2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: bottom;
		position: relative;
	}

	.section4{
		min-height: 100vh;
		width: 100%;
		/*background-color: green; */
		position: relative;
	}

		.section4 h2{
			margin: 0;
			padding: 10px 0;
			text-align: center;
			font-size: 30px;
			font-family: sans-serif;
			color: #c1c1c1;
			position: relative;
		}

		.section4 > div{
			margin: 50px 0;
			height: auto;
			width: 100%;
			padding: 20px 0;
			display: inline-flex;
			/* background-color: pink; */
			position: relative;
		}

			#slider{
				margin: auto;
				width: 60vw;
				aspect-ratio: 16/9;
				border-radius: 10px;
				overflow: hidden;
				position: relative;
			}

				#slider_c_1{
					width: 100%;
					transition: left 2s;
					position: relative;
					left: 0%;
				}

					#slider_c_1 > img{
						position: absolute;
					}

				#slider_c_2{
					width: 100%;
					transition: left 2s;
					position: relative;
					left: 100%;
				}

					#slider_c_2 > img{
						position: absolute;
					}

				#c_circle{
					height: 15%;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					position: relative;
					top: 85%;
				}

					#circle1{
						height: 15px;
						width: 15px;
						margin-right: 7.5px;
						background-color: #121212	;
						border: 2px solid #121212	;
						border-radius: 15px;
						transition: background 2s;
					}

					#circle2{
						height: 15px;
						width: 15px;
						margin-left: 7.5px;
						border: 2px solid #121212	;
						border-radius: 15px;
						transition: background 2s;
					}

			.section4 .c_table{
				min-width: 300px;
				width: 35vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				/*background-color: yellow;*/
			}

				.section4 table{
					margin: 30px 0;
					height: 200px;
					min-width: 150px;
					max-width:350px;
					width: 20vw	;
					border-collapse: collapse;
					font-size: 20px;
					font-family: "calibri", sans-serif;
					color: #c1c1c1;
					border: 2px solid #ffc65c;
				}

				.section4 th, td{
					padding: 15px 20px;
				}

				.section4 tbody tr{
					text-align: center;
					background-color: #242424;
				}

				.section4 tfoot tr{
					text-align: center;
					font-size: 25px;
					color: #121212;
					background-color: #ffc65c;
				}

				.section4 .c_table > button{
					margin: 0;
				}
}

@media  screen and (min-width: 200px) and (max-width: 768px){
	body{
		margin: 0;
		padding: 0;
		user-select: none;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	.background{
		height: 100%
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	video {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	}

		.goldbutton{
			padding: 6px 15px;
			font-size: 25px;
			font-family: sans-serif;
			color: #f5f5f5;
			background: linear-gradient(45deg,#8f5d00,#ffc65c);
			border: none;
			border-radius: 4px;
			outline: none;
			transition: filter 0.2s;
		}

		.goldbutton:hover{
			cursor: pointer;
			filter: brightness(1.2);
		}

		img{
			max-width: 100%;
		}

	main{
		width: 100%;
		background-color: #121212;
		position: absolute;
		top: 70%;
	}

	.section1{
		height: auto;
		width: 100%;
		padding: 20px 0;
		display: flex;
		flex-direction: column;
		/* background-color: orange; */
		position: relative;
	}

		.section1 img{
			margin: auto;
			padding: 0 50px;
			min-width: 200px;
			max-width: 700px;
			width: 60vw;
		}

		.section1 h1{
			margin: auto;
			min-width: 190px;
			max-width: 758px;
			width: 70vw;
			font-size: 20px;
			font-family: sans-serif;
			color: #c1c1c1;
		}

	.section2{
		padding: 30px 0;
		height: auto;
		width: 100%;
		/* background-color: blue; */
		position: relative;
		top: 0;
	}

		.section2 h2{
			margin: 0;
			padding: 10px 5vw;
			text-align: left;
			font-size: 30px;
			font-family: sans-serif;
			color: #c1c1c1;
			position: relative;
		}

		.section2 .c_table{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			 /*background-color: purple;*/
			position: relative;
		}

			.section2 caption{
				margin-bottom: 15px;
				font-size: 30px;
				font-family: "calibri", sans-serif;
				color: #c1c1c1;
			}

			.section2 table{
				margin: 30px 0;
				min-width: 190px;
				max-width: 758px;
				width: auto;
				border-collapse: collapse;
				font-size: 18px;
				font-family: "calibri", sans-serif;
				color: #c1c1c1;
				border: 2px solid #ffc65c;
				z-index: 10;
			}

			.section2 thead tr{
				text-align: center;
				font-size: 25px;
				color: #ffc65c;
				background-color: #121212;

			}

			thead td{
				transition: background 0.2s,color 0.2s;
			}

			thead td:hover{
				cursor: pointer;
			}

				.b1{
					color: #121212;
					background-color: #ffc65c;
				}

			.section2 .t_in{
				font-size: 20px;
				background-color: #363636;
			}

			.section2 td{
				padding: 25px 30px;
			}

			.section2 tbody tr{
				background-color: #242424;
			}

				.avantage2{
					color: #484848;
				}
				.avantage3{
					color: #484848;
				}
				.avantage4{
					color: #484848;
				}

			.section2 tfoot tr{
				text-align: center;
				font-size: 30px;
				color: #121212;
				background-color: #ffc65c;
			}

			.olivier{
				display: none;
			}

			.section2 button{
				margin: 30px 0 200px 0;
			}

	.section3{
		height: 100vh;
		width: 100%;
		background-image: url(img/fond2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: bottom;
		position: relative;
	}

	.section4{
		min-height: 100vh;
		width: 100%;
		/* background-color: green; */
		position: relative;
	}

		.section4 h2{
			margin: 0;
			padding: 10px 0;
			text-align: center;
			font-size: 30px;
			font-family: sans-serif;
			color: #c1c1c1;
			position: relative;
		}

		.section4 > div{
			margin: 50px 0;
			height: auto;
			width: 100%;
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* background-color: pink; */
			position: relative;
		}

			#slider{
				margin: auto;
				width: 80vw;
				aspect-ratio: 16/9;
				border-radius: 10px;
				overflow: hidden;
				position: relative;
			}

				#slider_c_1{
					width: 100%;
					transition: left 2s;
					position: relative;
					left: 0%;
				}

					#slider_c_1 > img{
						position: absolute;
					}

				#slider_c_2{
					width: 100%;
					transition: left 2s;
					position: relative;
					left: 100%;
				}

					#slider_c_2 > img{
						position: absolute;
					}

				#c_circle{
					height: 15%;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 85%;
				}

					#circle1{
						height: 15px;
						width: 15px;
						margin-right: 7.5px;
						background-color: #121212	;
						border: 2px solid #121212	;
						border-radius: 15px;
						transition: background 2s;
					}

					#circle2{
						height: 15px;
						width: 15px;
						margin-left: 7.5px;
						border: 2px solid #121212	;
						border-radius: 15px;
						transition: background 2s;
					}

			.section4 .c_table{
				min-width: 300px;
				width: 35vw;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				/*background-color: yellow;*/
			}

				.section4 table{
					margin: 30px 0;
					height: 200px;
					min-width: 190px;
					max-width: 300px;
					width: 40vw	;
					border-collapse: collapse;
					font-size: 20px;
					font-family: "calibri", sans-serif;
					color: #c1c1c1;
					border: 2px solid #ffc65c;
				}

				.section4 th, td{
					padding: 15px 20px;
				}

				.section4 tbody tr{
					text-align: center;
					background-color: #242424;
				}

				.section4 tfoot tr{
					text-align: center;
					font-size: 25px;
					color: #121212;
					background-color: #ffc65c;
				}

				.section4 .c_table > button{
					margin: 0;
				}
}
